[submodule "navmeshes"]
    path = navmeshes
    url = https://github.com/LandSandBoat/xiNavmeshes.git
[submodule "ximeshes"]
    path = ximeshes
    url = https://github.com/InoUno/ximeshes.git
[submodule "modules/LQS"]
    path = modules/LQS
    url = https://github.com/Zenith-XI/LQS.git
    branch = Prod
